#root {
  max-width: 100%;
  margin: 0 1;
  padding: 0.5rem 1rem; 
  text-align: start;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: flex-start;

}

.appTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;
}
.appPages div {
  text-align: center;
  width: 100%;

}


.gammaImage {
  padding-top:
  height: 50px;
  background: black; 
  width: 50px;
  border-radius: 100%;
}

h1 {
  margin: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 

}